<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= projectName %></title>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!-- Semantic META -->
    <meta name="keywords" content="<%= projectName %>">
    <meta name="description" content="<%= projectName %>">
    <!-- Semantic META end -->
    <!-- lib css -->
    <link rel="stylesheet" href="static/css/<%= projectName %>.css"/>
    <!-- lib css end -->
</head>
<body ng-controller="coreController">
<h3>Yeoman Generator Hawk</h3>
<!-- require -->
<script src="../bower_components/requirejs/require.js"></script>
<script src="config.js"></script>
<!-- require end -->
</body>
</html>